In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.KMeans import KMeans

In [32]:
 uri_dataset = './dataset/movies.csv'

In [33]:
movies = pd.read_csv(uri_dataset)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [34]:
genres = movies['genres'].str.get_dummies()
genres.head()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
movies = pd.concat([genres,movies], axis=1)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (no genres listed)  9742 non-null   int64
 1   Action              9742 non-null   int64
 2   Adventure           9742 non-null   int64
 3   Animation           9742 non-null   int64
 4   Children            9742 non-null   int64
 5   Comedy              9742 non-null   int64
 6   Crime               9742 non-null   int64
 7   Documentary         9742 non-null   int64
 8   Drama               9742 non-null   int64
 9   Fantasy             9742 non-null   int64
 10  Film-Noir           9742 non-null   int64
 11  Horror              9742 non-null   int64
 12  IMAX                9742 non-null   int64
 13  Musical             9742 non-null   int64
 14  Mystery             9742 non-null   int64
 15  Romance             9742 non-null   int64
 16  Sci-Fi              9742 non-null   int64
 17  Thriller            9742 non-null   int64
 18  War                 9742 non-null   int64
 19  Western             9742 non-null   int64
 20  movieId             9742 non-null   int64
 21  title               9742 non-null   object
 22  genres              9742 non-null   object
dtypes: int64(21), object(2)
memory usage: 1.7+ MB

In [42]:
scaler = StandardScaler()
scale_genres = scaler.fit_transform(genres)

array([[-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698,  2.59101927, ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       ...,
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995,  2.0807022 , -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534],
       [-0.05917995, -0.48060698, -0.3859485 , ..., -0.49125897,
        -0.20201972, -0.13206534]])